.selected {
  color: #468847;
  background-color: #dff0d8;
  *background-color: #dff0d8;
  background-image: -moz-linear-gradient(top, #ffffff, #dff0d8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dff0d8));
  background-image: -webkit-linear-gradient(top, #ffffff, #dff0d8);
  background-image: -o-linear-gradient(top, #ffffff, #dff0d8);
  background-image: linear-gradient(to bottom, #ffffff, #dff0d8);
}
.selectable {
  cursor:pointer;
}
.selected:hover,
.selected:focus,
.selected:active,
.selected.active,
.selected.disabled,
.selected[disabled] {
  color: #333333;
  background-color: #dff0d8;
  *background-color: #dff0d8;
}
