<div class="container">

  <tabs>
    <pane title="Shows">
      <div class="primary"> 
        Search by title:
        <br />
        <input type="text" data-ng-model="search_name"/>
        <br />

        Unselected Shows:
        <ul>
          <li data-ng-repeat="show in unselected_shows | filter:search_name | orderBy:'title'">
            {{ show.title }}
            <button data-ng-click="selectShow(show)" data-ng-disabled="show.selected">Select</button>
          </li>
        </ul>
      </div>
    
      <div class="secondary">
        Selected Shows:
        <ul>
          <li data-ng-repeat="show in selected_shows | orderBy:'title'">
            {{ show.title }}
            <button data-ng-click="deselectShow(show)">Deselect</button>
          </li>
        </ul>
      </div>
    </pane>
    <pane title="Times">
      Unselected Times:
      <ul>
        <li data-ng-repeat="time in unselected_times | orderBy:'datetime'">
          {{ time.timeString }}
          <button data-ng-click="selectTime(time)" data-ng-disabled="time.selected">Select</button>
        </li>
      </ul>
    
      Selected Times:
      <ul>
        <li data-ng-repeat="time in selected_times | orderBy:'datetime'">
          {{ time.timeString }}
          <button data-ng-click="deselectTime(time)">Deselect</button>
        </li>
      </ul>
    </pane>
    <pane title="Schedule">
      <label>Allow each show to be selected only once:</label>
      <input type="checkbox" data-ng-model="limit_one_showing_per_show" data-ng-change="refresh_relevant_showings_selectable()" />
      <br />
    
      Relevant Showings:
      <ul>
        <li data-ng-repeat="showing in selectable_showings | orderBy:'time'">
          {{ showing.show.title }} ({{ showing.time.timeString }})
          <button data-ng-click="selectShowing(showing)" data-ng-disabled="!showing.selectable">Select</button>
        </li>
      </ul>
    
      Selected Showings:
      <ul>
        <li data-ng-repeat="showing in selected_showings | orderBy:'showing'">
          {{ showing.show.title }} ({{ showing.time.timeString }})
          <button data-ng-click="deselectShowing(showing)">Deselect</button>
        </li>
      </ul>
    </pane>
  </tabs>
</div>
