<div class="container">
  <h3>Select shows</h3>
  Search by title:
  <br />
  <input type="text" data-ng-model="search_name"/>
  <br />

  All Shows:
  <ul>
    <li data-ng-repeat="show in shows | filter:search_name | orderBy:'title'">
      {{ show.title }} - ({{ show.venue }})
      <button data-ng-click="selectShow(show)" data-ng-disabled="show.selected">Select</button>
    </li>
  </ul>

  Selected Shows:
  <ul>
    <li data-ng-repeat="show in selected_shows | orderBy:'title'">
      {{ show.title }} - ({{ show.venue }})
      <button data-ng-click="deselectShow(show)">Deselect</button>
    </li>
  </ul>

  <br />

  All Times:
  <ul>
    <li data-ng-repeat="time in times | orderBy:'time'">
      {{ time.time }}
      <button data-ng-click="selectTime(time)" data-ng-disabled="time.selected">Select</button>
    </li>
  </ul>

  Selected Times:
  <ul>
    <li data-ng-repeat="time in selected_times | orderBy:'time'">
      {{ time.time }}
      <button data-ng-click="deselectTime(time)">Deselect</button>
    </li>
  </ul>

  <br />

  <label>Allow each show to be selected only once:</label>
  <input type="checkbox" data-ng-model="limit_one_showing_per_show" data-ng-change="refresh_relevant_showings_selectable()" />
  <br />

  Relevant Showings:
  <ul>
    <li data-ng-repeat="showing in relevant_showings | orderBy:'time'">
      {{ showing.show.title }} ({{ showing.time.time }})
      <button data-ng-click="selectShowing(showing)" data-ng-disabled="!showing.selectable">Select</button>
    </li>
  </ul>

  Selected Showings:
  <ul>
    <li data-ng-repeat="showing in selected_showings | orderBy:'showing'">
      {{ showing.show.title }} ({{ showing.time.time }})
      <button data-ng-click="deselectShowing(showing)">Deselect</button>
    </li>
  </ul>

  <br />


</div>
