%div{ "class" => "account_bar"}
  %span{ "data-ng-hide" => "loggedIn" }
    Welcome, 
    %strong Guest!
    %ul
      %li
        %button.btn.btn-link{ :href=>"/auth/facebook/" }
          Login with Google
      %li
        %button.btn.btn-link{ :href=>"/auth/facebook/" }
          Login with Facebook
  %span{ "data-ng-show" => "loggedIn" }
    Welcome, 
    %strong {{ userName }}!
    %button.btn.btn-link{ :href=>"#", "data-ng-click" => "logout()" }
      Logout
