%div{ "class" => "account_bar"}
  %span{ "data-ng-hide" => "loggedIn" }
    %ul.inline
      %li
        Welcome, 
        %strong Guest!
      -#%li
        -#%a{ :href=>"/auth/google/" }
          -#Login with Google
      %li
        %a{ :href=>"/auth/facebook/" }
          Login with Facebook
  %span{ "data-ng-show" => "loggedIn" }
    Welcome, 
    %strong {{ userName }}!
    %button.btn.btn-link{ :href=>"#", "data-ng-click" => "logout()" }
      Logout
