!!!
%html{"data-ng-app" => "application"}
  %head
    %title Plan My Fringe
    %script{:src => "//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-cookies.min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.4.0/ui-bootstrap-tpls.min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"}
    %script{:src => "javascripts/Selectable.js"}
    %script{:src => "javascripts/Day.js"}
    %script{:src => "javascripts/TimeOfDay.js"}
    %script{:src => "javascripts/TimeSlot.js"}
    %script{:src => "javascripts/Venue.js"}
    %script{:src => "javascripts/Show.js"}
    %script{:src => "javascripts/Showing.js"}
    %script{:src => "javascripts/app.js"}
    %script{:src => "javascripts/account/account-controller.js"}
    %script{:src => "javascripts/scheduler/scheduler-service.js"}
    %script{:src => "javascripts/scheduler/scheduler-controller.js"}
    %script{:src => "javascripts/scheduler/title-filter.js"}
    %script{:src => "javascripts/google_analytics.js"}
    %link{:rel=>"stylesheet", :href=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"}
    %link{:rel=>"stylesheet", :href=>"stylesheets/default.css"}
  %body
    =haml :header_bar

    %div
      / Placeholder for views
      %div{"data-ng-view" => ""}
