%div.container-fluid
  .alert{ "data-ng-class" => "{success:'alert-success', error:'alert-error'}[alert.type]", "data-ng-repeat" => "alert in alerts" }
    %button.close{ "type" => "button", "data-dismiss" => "alert", "data-ng-click" => "closeAlert($index)" } &times;
    {{ alert.msg }}
  %div.pull-right.spacer-left=haml :account_bar
  %div.pull-right
    %button.btn.btn-primary{ "data-ng-click" => "saveSelectionsToServer()", "data-ng-show" => "loggedIn" } Save
    %button.btn.btn-primary{ "data-ng-click" => "loadSelectionsFromServer()", "data-ng-show" => "loggedIn && hasData" } Load
  %br


  %tabset
    %tab{ "heading" => "Step 1: Shows" }
      %p.lead Click on the shows you want to see, then click "Step 2"
      %input{ "type" => "checkbox", "data-ng-model"=>"groupByVenue" } Group shows by venue
      %br

      %br

      %ul{ "data-ng-show"=>"groupByVenue" }
        %li{ "data-ng-repeat"=>"group in showGroups"}
          %strong {{ group.venueName }}
          %table.table.table-bordered
            %tr{ "data-ng-repeat" => "show in group.shows | orderBy: 'title'"}
              %td.selectable{ "data-ng-class" => "{selected:show.selected}", "data-ng-click"=>"toggleSelectShow(show)"}
                {{ show.title }}

      %div{ "data-ng-hide" => "groupByVenue" }
        Search:
        %br
        %input{ "type" => "text", "placeholder" => "Search text here...", "data-ng-model" => "searchText"}
        %br
  
        %table.table.table-bordered
          %tr{ "data-ng-repeat" => "show in shows | filter:searchText | orderBy: 'title'" }
            %td.selectable{ "data-ng-class" => "{selected:show.selected}", "data-ng-click" => "toggleSelectShow(show)" }
              {{ show.title }} ({{ show.venue.name }})

    %tab{ "heading" => "Step 2: Times"}
      %p.lead Click to turn off any times you can't see shows, then click "Step 3"
      -# WARNING: There is a haml template rendered to pass as an argument inside 
      -# another call to the haml template - if you know a way to make this clearer,
      -# please let me know.
      = haml :accordian, locals: { groups_name: "timeGroups", 
          heading_expression: "{{group.dateString}}",
          group_content: (haml :selection_table, locals: { options_enum: "group.options",
            order_by: "'datetime'",
            on_click_function: "toggleSelectTime",
            option_name: "{{option.timeString}}"})}

    %tab{ "heading" => "Step 3: Schedule"}
      %p.lead
        Click to select when you want to see each show. The other performances at that time will be hidden, and the other performances for that show will be hidden, too.
        Made a mistake? Just click again to 'unselect' the show!
      %ul
        %li{ "data-ng-repeat" => "dateGroup in showingGroups | orderBy: 'date'"}
          %strong {{ dateGroup.dateString }}
          %div{ "data-ng-repeat" => "timeGroup in dateGroup.timeGroups | orderBy: 'time'"}
            %em {{ timeGroup.timeString }}
            = haml :selection_table, locals: { options_enum: "timeGroup.showings",
                order_by: "'time.datetime'",
                on_click_function: "toggleSelectShowing",
                option_name: "{{ option.show.title }} [{{ option.show.venue.name }}]" }
