%div.container-fluid
  .alert{ "data-ng-class" => "{success:'alert-success', error:'alert-error'}[alert.type]", "data-ng-repeat" => "alert in alerts" }
    %button.close{ "type" => "button", "data-dismiss" => "alert", "data-ng-click" => "closeAlert($index)" } &times;
    {{ alert.msg }}
  %div.pull-right.spacer-left=haml :account_bar
  %div.pull-right
    %button.btn.btn-primary{ "data-ng-click" => "saveSelectionsToServer()", "data-ng-show" => "loggedIn" } Save
    %button.btn.btn-primary{ "data-ng-click" => "loadSelectionsFromServer()", "data-ng-show" => "loggedIn && hasData" } Load
  %br


  %tabset
    %tab{ "heading" => "Step 1: Shows" }
      %p.lead Click on the shows you want to see, then click "Step 2"
      %input{ "type" => "checkbox", "data-ng-model"=>"groupByVenue" } Group shows by venue
      %br

      %br

      - @show_selection_template = haml :selection_table,
        locals: { options_enum: "group.shows",
          order_by: "'title'",
          on_click_function: "toggleSelectShow",
          option_name: "{{ option.title }}" }

      %div{ "data-ng-show"=>"groupByVenue" }
        = haml :accordian,
          locals: { groups_name: "showGroups",
            heading_expression: "{{group.venueName}}",
            order_by: "'venueName'",
            group_content: @show_selection_template }

      %div{ "data-ng-hide" => "groupByVenue" }
        Search:
        %br
        %input{ "type" => "text", "placeholder" => "Search text here...", "data-ng-model" => "searchText"}
        %br
  
        = haml :selection_table,
          locals: { options_enum: "shows",
            order_by: "'title'",
            on_click_function: "toggleSelectShow",
            option_name: "{{ option.title }} [{{ option.venue.name }}]"}

    %tab{ "heading" => "Step 2: Times"}
      %p.lead Click to turn off any times you can't see shows, then click "Step 3"

      - @time_selection_template = haml :selection_table,
        locals: { options_enum: "group.options",
          order_by: "'datetime'",
          on_click_function: "toggleSelectTime",
          option_name: "{{option.timeString}}"}

      = haml :accordian, locals: { groups_name: "timeGroups", 
          heading_expression: "{{group.dateString}}",
          group_content: @time_selection_template }

    %tab{ "heading" => "Step 3: Schedule"}
      %p.lead
        Click to select when you want to see each show. The other performances at that time will be hidden, and the other performances for that show will be hidden, too.
        Made a mistake? Just click again to 'unselect' the show!

      - @option_template = haml :selection_table,
        locals: { options_enum: "group.showings",
          order_by: "'time.datetime'",
          on_click_function: "toggleSelectShowing",
          option_name: "{{ option.show.title }} [{{ option.show.venue.name }}]"}

      - @showing_times_template = haml :accordian,
        locals: { groups_name: "group.timeGroups",
          heading_expression: "{{group.timeString}}",
          order_by: "'time'",
          group_content: @option_template }

      = haml :accordian,
        locals: { groups_name: "showingGroups",
          heading_expression: "{{group.dateString}}",
          order_by: "'date'",
          group_content: @showing_times_template }
