%div.container-fluid
  .alert{ "data-ng-class" => "{success:'alert-success', error:'alert-error'}[alert.type]", "data-ng-repeat" => "alert in alerts" }
    %button.close{ "type" => "button", "data-dismiss" => "alert", "data-ng-click" => "closeAlert($index)" } &times;
    {{ alert.msg }}
  %div.pull-right.spacer-left=haml :account_bar
  %div.pull-right
    %button.btn.btn-primary{ "data-ng-click" => "saveSelectionsToServer()", "data-ng-show" => "loggedIn" } Save
    %button.btn.btn-primary{ "data-ng-click" => "loadSelectionsFromServer()", "data-ng-show" => "loggedIn && hasData" } Load
  %br


  %tabset
    %tab{ "heading" => "Step 1: Shows" }
      %p.lead Click on the shows you want to see, then click "Step 2"
      %input{ "type" => "checkbox", "data-ng-model"=>"groupByVenue" } Group shows by venue
      %br

      %br

      %ul{ "data-ng-show"=>"groupByVenue" }
        %li{ "data-ng-repeat"=>"group in venues"}
          %strong {{ venue.name }}
          %table.table.table-bordered
            %tr{ "data-ng-repeat" => "show in venue.shows | orderBy: 'title'"}
              %td.selectable{ "data-ng-class" => "{selected:show.selected}", "data-ng-click"=>"toggleSelectShow(show)"}
                {{ show.title }}

      %div{ "data-ng-hide" => "groupByVenue" }
        Search:
        %br
        %input{ "type" => "text", "placeholder" => "Search text here...", "data-ng-model" => "searchText"}
        %br
  
        %strong {{ venue.name }}
        %table.table.table-bordered
          %tr{ "data-ng-repeat" => "show in shows | orderBy: 'title'"}
            %td.selectable{ "data-ng-class" => "{selected:show.selected}", "data-ng-click"=>"toggleSelectShow(show)"}
              {{ show.title }}

    %tab{ "heading" => "Step 2: Times"}
      %p.lead Click to turn off any times you can't see shows, then click "Step 3"

      %ul
        %li{ "data-ng-repeat"=>"day in days | orderBy: 'datetime'" }
          %strong {{ day.toString() }}
          %table.table.table-bordered
            %tr{ "data-ng-repeat" => "timeSlot in day.timeSlots | orderBy: 'timeOfDay.datetime'" }
              %td.selectable{ "data-ng-class" => "{selected:timeSlot.selected}", "data-ng-click"=>"toggleSelectTime(timeSlot)"}
                {{ timeSlot.timeOfDay.toString() }}

    %tab{ "heading" => "Step 3: Schedule"}
      %p.lead
        Click to select when you want to see each show. The other performances at that time will be hidden, and the other performances for that show will be hidden, too.
        Made a mistake? Just click again to 'unselect' the show!

      %ul.unstyled
        %li{ "data-ng-repeat"=>"day in days" }
          %strong {{ day.toString() }}
          %ul.unstyled
            %li.indent{ "data-ng-repeat"=>"timeSlot in day.timeSlots", "data-ng-show" => "timeSlot.selected" }
              %em {{ timeSlot.timeOfDay.toString() }}
              %table.table.table-bordered
                %tr{ "data-ng-repeat" => "showing in timeSlot.showings | orderBy: 'show.title'",
                    "data-ng-show" => "showing.selectable" }
                  %td.selectable{ "data-ng-class" => "{selected:showing.selected}", "data-ng-click"=>"toggleSelectShowing(showing)"}
                    {{ showing.show.title }}
