.tabbable
  %ul.nav.nav-tabs
    %li{ "data-ng-repeat" => "pane in panes", "data-ng-class" => "{active:pane.selected}" }
      %a{ href: "", "data-ng-click" => "select(pane)" } {{pane.title}}
  .tab-content{ "data-ng-transclude" => "" }
