<div class="container">
  <h3>Filter by Name!</h3>
  Name:
  <br />
  <input type="text" data-ng-model="name"/>
  <br />

  <ul>
    <li data-ng-repeat="person in people | filter:name | orderBy:'city'">{{ person.name | uppercase }} - {{ person.city | lowercase }}</li>
  </ul>

  <br />
  New Person Name:
  <br />
  <input type="text" data-ng-model="newPerson.name" />
  <br />

  New Person City:
  <br />
  <input type="text" data-ng-model="newPerson.city" />
  <br />

  <button data-ng-click="addNewPerson()">Add Person</button>
  <a href="#/view2">View 2</a>

</div>
